<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a00bba63-2c44-4771-ae4a-cf5fbc1f9da0/resourceGroups/WebApiCommercial20230213193347ResourceGroup/providers/Microsoft.Web/sites/webapicommercial</ResourceId>
    <ResourceGroup>WebApiCommercial20230213193347ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapicommercial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2aebb70d-baa9-485d-b7de-6f5835d01ee7</ProjectGuid>
    <PublishUrl>https://webapicommercial.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapicommercial</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>